body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.scrollbox {
    position: relative;
    z-index: 1;
    overflow: auto;
    background: #FFF no-repeat;
    background-image: -webkit-radial-gradient(50% 0, farthest-side, rgba(0,0,0,0.2), rgba(0,0,0,0)), -webkit-radial-gradient(50% 100%,farthest-side, rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image: -moz-radial-gradient(50% 0, farthest-side, rgba(0,0,0,0.2), rgba(0,0,0,0)), -moz-radial-gradient(50% 100%,farthest-side, rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-image: radial-gradient(farthest-side at 50% 0, rgba(0,0,0,0.2), rgba(0,0,0,0)), radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,0.2), rgba(0,0,0,0));
    background-position: 0 0, 0 100%;
    background-size: 100% 14px;

    &:after,
    &:before {
        content: "";
        z-index: -1;
        display: block;
        position: relative;
        margin-bottom: -30px;
        height: 30px;
        background: -webkit-linear-gradient(top,#FFF,#FFF 30%,rgba(255,255,255,0));
        background: -moz-linear-gradient(top,#FFF,#FFF 30%,rgba(255,255,255,0));
        background: linear-gradient(to bottom,#FFF,#FFF 30%,rgba(255,255,255,0));
    }

    &:after {
        margin-top: -30px;
        margin-bottom: 0;
        top: auto;
        background: -webkit-linear-gradient(top,rgba(255,255,255,0),#FFF 70%,#FFF);
        background: -moz-linear-gradient(top,rgba(255,255,255,0),#FFF 70%,#FFF);
        background: linear-gradient(to bottom,rgba(255,255,255,0),#FFF 70%,#FFF);
    }

    > :last-child {
        overflow: hidden;
    }
}

#wrapper {
    transition: opacity 1.0s ease-out;

    &.fade-out {
        opacity: 0;
    }
}

#transition-container {
    z-index: 1;
}

.card {
    > div {
        display: flex;
        flex-direction: column;
        max-height: ~"calc(100vh - 80px)";
    }
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    text-transform: capitalize;
    padding: 10px 20px;
}

#avatarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
}

.form-container {
    overflow: auto;

    > div {
        label:not([for]) {
            transform-origin: left bottom 0;
            transform: scale(0.75);
            display: inline-block;
            color: rgba(0, 0, 0, 0.298039);
        }
    }

    .browseBtn {
        margin-left: 5px !important;
        min-width: auto !important;
        height: auto !important;
        flex: auto 1 0;
    }
}

.ImageGrid {
    display: flex;
    flex-wrap: wrap;

    .selectableImage {
        margin: 2px;
        flex-grow: 1;
        object-fit: cover;
        height: 200px;
        outline: 1px solid #E0E0E0;
        box-sizing: border-box;
        cursor: pointer;

        &.active {
            outline: 4px solid #03A9F4;
        }
    }
}

.avatar {
    width: 30%;
    border-radius: 100%;
}

.code {
    font-family: "Courier New" !important;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 5vh 5vw;

    &.align-left {
        justify-content: flex-start;
    }

    &.align-right {
        justify-content: flex-end;
    }
}

#password-input + div > hr:nth-child(2) {
    transition: border-color 1.3s !important;
}

input[type="text"] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa {
    &:before {
        width: 1.285714em;
        text-align: center;
        display: inline-block;
    }
}

.dev-console {
    display: flex;
    flex-direction: column;

    > div {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    & &-inner-container {
        overflow: auto;
    }

    & &-message {
        padding: 0 !important;

        .dev-console-message-title {
            padding: 0.8em 0.5em;
            transition: none;
        }

        .dev-console-message-error-stack {
            padding: 0.5em 20px;
            white-space: pre-wrap;
        }

        .dev-console-message-timestamp {
            color: grey;
            font-size: 0.8em;
        }

        &.expandable {
            .dev-console-message-title {
                cursor: pointer;
            }

            &.expanded {
                background-color: #eee;

                .dev-console-message-title {
                    padding-bottom: 0.4em;
                }
            }

            &:hover {
                background-color: #eee;
            }
        }

        .dev-console-message-error-stack {
            margin: 0;
            font-size: 0.85em;
        }
    }
}

#dev-console {
    position: absolute;
    bottom: 100%;
    right: 0;
    max-height: 35vh;
    min-width: 20vw;
    max-width: 30vw;
}
